*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--background);
    color: var(--text);
}

.container{
    border: 2px solid rgb(23, 124, 255);
    border-radius: 20px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    max-width: 500px;
    margin: 120px auto 0 auto;
}

.statscon{
    padding: 30px;
    border-radius: 20px;
    border: 2px solid var(--purple);
    display: flex;
    gap: 50px;
    width: 100%;
    justify-content: space-between;
}

#number{
    height: 100px;
    width: 100px;
    background-color: var(--purple);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bold;
}

.details{
    width: 100%;
}

#progressbar{
    height: 10px;
    width: 100%;
    background-color: rgb(189, 189, 248);
    border-radius: 5px;
    margin-top: 20px;
}

#progress{
    width: 50%;
    height: 10px;
    background-color: rgb(5, 155, 255);
    border-radius: 10px;
    transition: all 0.3 ease;
}

form{
    margin-top: 60px;
    width: 100%;
    display: flex;
    gap: 10px;
}
input{
    flex: 1;
    padding: 16px;
    background: #10026b85;
    border: 1px solid  var(--purple);
    border-radius: 10px;
    outline: none;
    color: whitesmoke;
}

button{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--purple);
    color: aliceblue;
    font-size: 30px;
    font-weight: bold;
    outline: none;
}

.task.completed p {
    text-decoration: line-through;
}
.taskItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icons img {
    width: 20px;
    cursor: pointer;
    margin-left: 5px;
}
#task-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    width: 100%;
    list-style: none;
}
.taskItem{
    display: flex;
    background-color: var(--purple);
    padding: 10px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}

.task{
    display: flex;
    align-items: center;
    gap: 10px;
}
.task input{
        width: 20px;
        height: 20px;

}
.taskItem img{
    width: 24px;
    height: 24px;
    margin: 0 7px;
    cursor: pointer;
}

.completed p{
    text-decoration: line-through;
    color: rgb(0, 255, 255);
}

.task.completed p {
    text-decoration: line-through;
    color: gray;
}
.taskItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icons img {
    width: 24px;
    margin-left: 5px;
    cursor: pointer;
}

#progress {
    transition: width 0.3s ease;
}


:root{
    --background:#090040;
    --secondaryBackground:rgb(6, 4, 173);
    --text:white;
    --purple:rgba(7, 111, 247, 0.842);
    --teal: rgb(80, 77, 243);

}
